.card .card-category, .card label{
    white-space: nowrap;
}
.bd-example>:last-child {
    margin-bottom: 0;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); /* Mờ đen nền */
    z-index: 1050;
    overflow: hidden; /* Khóa cuộn trang khi modal hiển thị */
  }
  .modal .modal-content .modal-footer .btn {
    font-size: 14px;
}
.modal .modal-content .modal-body+.modal-footer {
    margin-top: 0px;
    padding-top: 0;
}
  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 500px; /* Kích thước modal */
    width: 100%;
    z-index: 1060;
  }
  
  /* Modal backdrop */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1040; /* Đặt thấp hơn modal */
  }
  
  /* Cấm cuộn trang khi modal hiện */
  body.modal-open {
    overflow: hidden;
  }
/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
} */
.fade {
    transition: opacity .15s linear;
}
.modal.show .modal-dialog {
    transform: none;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: flex
;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    /* background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center / 1em auto no-repeat; */
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
label {
    display: inline-block;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
label {
    display: inline-block;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.modal-footer>* {
    margin: .25rem;
}
.fade.show {
    opacity: 1;
    border-radius: 4px;
}
.modal .modal-content .modal-header {
    border-bottom: none;
    padding: 24px 0px 6px 1px;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.sidebar .nav li.active .nav-link, body>.navbar-collapse .nav li.active .nav-link {
    color: #fff;
    opacity: 1;
    background: hsla(0, 0%, 100%, .23) !important;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
    border: none !important;
}
.sidebar .close-btn{
    display: none;
    align-items: center;
    font-size: 26px !important;
    padding: 8px;
    background: hsla(0, 0%, 100%, .23) !important;
    border-radius: 50% !important;
    width: fit-content;
}
.sidebar .logout-btn{
    display: none;
}
@media (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .nav-item.ant-btn.ant-btn-default.ui-kit-button.ant-btn-primary{
        display: flex;
        align-items: center;
    }
    .navbar-wrapper .sidebar-wrapper{
        display: none;
    }

}

@media (max-width: 768px) {
    .navbar-wrapper .sidebar-wrapper{
        display: block;
    }
    .navbar-toggler.navbar-toggler-right{
        display: block;
    } 
}
@media (max-width: 991px) {
    .sidebar {
        transform: none !important;
    }
    .sidebar .close-btn{
        display: flex;
    }
    .sidebar .logout-btn{
        display: block;
    }
}
.cursor-pointer{
    cursor: pointer;
}
